$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);
.content{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    label{
        margin-bottom: 6px;
        display: block;
    }
    .goalInputHolder{
        display: flex;
        gap: 4px;
        align-items: center;
        margin-bottom: 32px;
        input{
            height: 32px;
            width: 70px;
            font-size: 20px;
        }
        span{
            font-size: 18px;
        }
    }
}
.textButton{
    height: 49px;
    width: 110px;
    flex-shrink: 0;
    background-color: $green;
    color: white;
    font-family: inherit;
    font-size: 16.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.25px solid lighten($green, 12%);
    border-radius: 5px;
    line-height: 19px;
    span.caloriesText{
        font-weight: 600;
    }
    span:last-child{
        svg{
            //margin-top: 5px;
            margin-bottom: -2px;
        }
    }
}
.editGoalButton{
    height: 40px;
    flex-shrink: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    span.caloriesText{
        font-weight: 600;
    }
    span:last-child{
        svg{
            //margin-top: 5px;
            margin-bottom: -2px;
        }
    }
}