.content{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2, p{
        margin-top: 4px;
        margin-bottom: 6px;
    }
    button{
        margin-top: 6px;
        height: 40px;
        font-size: 17px;
    }
    .closeButton{
        position: absolute;
        display: grid;
        place-items: center;
        margin: 0;
        top: 8px;
        right: 8px;
        height: 37px;
        width: 37px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        svg{
            width: 18px;
            height: 18px;
        }
    }
    .deleteButton{
        display: grid;
        place-items: center;
        &[data-available="false"]{
            opacity: 0.5;
        }
        transition: opacity 0.06s ease-out;
        .checkIcon{
            width: 33px;
            height: 33px;

        }
    }
}
.triggerButton{
    background-color: rgb(131, 61, 61);
    border: 1.25px solid lighten(rgb(131, 61, 61), 24%);
    border-radius: 5px;
    font-family: inherit;
    color: white;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    svg{
        //width: 16px;
        min-width: 16px;
        //height: 16px;
        margin-bottom: -0.75px;

    }
}