.content{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2{
        font-size: 22px;
        margin: 0;
    }
    p{
        font-size: 19px;
        margin: 0;
    }
    .addInputHolder{
        display: flex;
        align-items: center;
        gap: 2px;
        input{
            font-size: 19px;
            height: 40px;
            width: 73px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        span{
            //margin: 0;
            font-size: 19px;
        }
    }
    button{
        margin-top: 6px;
        height: 40px;
        font-size: 17px;
    }
    .closeButton{
        position: absolute;
        display: grid;
        place-items: center;
        margin: 0;
        top: 8px;
        right: 8px;
        height: 37px;
        width: 37px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        svg{
            width: 18px;
            height: 18px;
        }
    }
    .logButton{
        display: grid;
        place-items: center;
        &[data-available="false"]{
            opacity: 0.5;
        }
        transition: opacity 0.06s ease-out;
        .checkIcon{
            width: 33px;
            height: 33px;

        }
    }
}
.triggerButton{
    background-color: rgb(131, 131, 61);
    border: 1.25px solid lighten(rgb(131, 131, 61), 24%);
    border-radius: 5px;
    font-family: inherit;
    color: white;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    svg{
        width: 16px;
        height: 16px;
        margin-top: -0.5px;
    }
}