$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);

.servingItem{
    &:first-child{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-top: 1.5px solid lighten($almostBlack, 20%);
    }
    &:last-child{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    background-color: lighten($almostBlack, 10%);
    padding: 12px;
    border: 1.5px solid lighten($almostBlack, 20%);
    border-top: none;
    height: auto;
    display: flex;
    gap: 10px;
    h3, p{
        margin: 0;
        font-weight: normal;
    }
    h3.servingName{
        font-size: 17px;
        margin-bottom: 8px;
        height: auto;
    }
    p.amount{
        font-size: 16px;
        color: darken(white, 15%);
        .caloriesText{
            color: inherit;
            font-weight: bold;
        }
    }
    .actions, .info{
        flex-grow: 1;
        display: flex;
        //align-items: center;
    }
    .info{
        flex-direction: column;
        justify-content: center;

    }
    .actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        button{
            width: 90px;
            height: 34px;
            padding: 0 10px;
        }
    }
}