.overlay{
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    inset: 0;
    animation: fadeIn 0.05s ease-out;
}
.content{
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    animation: fadeIn 0.05s ease-out;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2{
        font-size: 22px;
        margin: 0;
    }
    p{
        font-size: 19px;
        margin: 0;
    }
    .addInputHolder{
        display: flex;
        align-items: center;
        gap: 2px;
        input{
            font-size: 19px;
            height: 40px;
            width: 73px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        span{
            //margin: 0;
            font-size: 19px;
        }
    }
    button{
        margin-top: 6px;
        height: 40px;
        font-size: 17px;
    }
    .closeButton{
        position: absolute;
        display: grid;
        place-items: center;
        margin: 0;
        top: 8px;
        right: 8px;
        height: 37px;
        width: 37px;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        svg{
            width: 18px;
            height: 18px;
        }
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}