$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);

.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 46px;
    form.logInOut{
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.6rem;
        display: grid;
        place-items: center;
        button{
            height: 100%;
            background-color: rgb(40, 40, 40);
            color: white;
            border: 1.25px solid lighten(rgb(40, 40, 40), 9%);
            border-radius: 5px;
            padding: 5px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    h1{
        margin: 0;
        font-weight: normal;
        font-size: 22.5px;
    }
    background-color: white;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 1px solid rgb(101, 101, 101);
}