*{
    box-sizing: border-box !important;
    *{
        box-sizing: border-box !important;
    }
}
body{
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
button{
    cursor: pointer;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    inset: 0;
    animation: fadeIn 0.05s ease-out;
}
.dialogContent{
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.05s ease-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
