$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);
* {
    box-sizing: border-box !important;

    * {
        box-sizing: border-box !important;
    }
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: $almostBlack;
}

.bold {
    font-weight: bold;
}

button {
    cursor: pointer;
}
p, span, h1, h2, h3, h4, h5, h6 {
    color: white;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    inset: 0;
    animation: fadeIn 0.05s ease-out;
}

.dialogContent {
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.05s ease-out;
}

.dialogCloseButton {
    position: absolute;
    display: grid;
    place-items: center;
    margin: 0;
    top: 8px;
    right: 8px;
    height: 37px;
    width: 37px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}