$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);

$p1: hsl(197 92% 4%);
$p2: hsl(197 95% 8%);
$p3: hsl(197 89% 12%);
$p4: hsl(197 95% 26%);
$p5: hsl(197 80% 34%);
$p6: hsl(197 89% 42%);
$p7: hsl(197 82% 64%);
$p8: hsl(197 89% 83%);
$p9: hsl(197 92% 91%);
$p10: hsl(197 100% 98%);
$lightRed: hsl(2, 70%, 48%);


$g1: hsl(210, 7%, 8%);
$g2: hsl(210, 7%, 14%);
$g3: hsl(210, 7%, 22%);
$g4: hsl(210, 7%, 30%);
$g5: hsl(210, 7%, 40%);
$g6: hsl(210, 7%, 55%);
$g7: hsl(210, 7%, 70%);
$g8: hsl(210, 7%, 85%);
$g9: hsl(210, 7%, 95%);
.intro{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    h2{
        align-self: center;
        color: $p2; 
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 6px;
    }
    p{
        margin: 0;
        color: black;
        font-size: 17px;
    }
}