form.signupForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 18px;
    border: 1px solid black;
    border-radius: 6px;
    gap: 4px;
    h2, p{
        margin: 0;
        text-align: center;
    }
    p:first-of-type{
        margin-bottom: 14px;
    }
    input{
        height: 30px;
        font-size: 17px;
        &[type="password"]{
            margin-bottom: 18px;
        }
    }
    p:last-of-type{
        margin-top: 6px;
        text-align: center;
    }
    button.login{
        height: 40px;
        margin-bottom: 8px;
    }
    button.signup{
        height: 35px;
    }
}