$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);
.entryForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2{
        font-size: 22px;
        margin: 0;
    }
    button{
        width: 100px;
        height: 40px;
    }
}
.triggerButton{
    background-color: lighten($blackLicorice, 20%);
    border: 1.25px solid lighten($blackLicorice, 35%);
    border-radius: 5px;
    color: darken(white, 5%);
    span{
        color: inherit;
    }
    height: 40px;
    min-width: 175px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}