$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);
.entryForm{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2{
        font-size: 22px;
        margin: 0;
    }
    button{
        width: 100px;
        height: 40px;
    }
}
.triggerButton{
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}