$p1: hsl(197 92% 4%);
$p2: hsl(197 95% 8%);
$p3: hsl(197 89% 12%);
$p4: hsl(197 95% 26%);
$p5: hsl(197 80% 34%);
$p6: hsl(197 89% 42%);
$p7: hsl(197 82% 64%);
$p8: hsl(197 89% 83%);
$p9: hsl(197 92% 91%);
$p10: hsl(197 100% 98%);
$lightRed: hsl(2, 70%, 48%);

$g1: hsl(210, 7%, 8%);
$g2: hsl(210, 7%, 14%);
$g3: hsl(210, 7%, 22%);
$g4: hsl(210, 7%, 30%);
$g5: hsl(210, 7%, 40%);
$g6: hsl(210, 7%, 55%);
$g7: hsl(210, 7%, 70%);
$g8: hsl(210, 7%, 85%);
$g9: hsl(210, 7%, 95%);

.foodSearchResult {
    padding: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    div:first-child {
        display: flex;
        flex-direction: column;
        gap: 4px;
        h3{
            font-size: 16px;
            color: black;
            font-weight: 600;
            margin: 0;
            line-height: 21px;
        }
        p{
            margin: 0;
            font-weight: 400;
            color: $g4;
            span{
                color: inherit;
                font-weight: 600;
            }
        }
    }

    >div:last-child {
        margin-left: auto;
        flex-basis: 110px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            width: 100%;
            height: 38px;
            
        }

        h4 {
            color: $g3;
            margin: 0;
            font-weight: 400;
            span{
                color: inherit;
            }
        }
    }
}