$green: rgb(27, 100, 60);
$blackLicorice: rgb(22, 16, 18);
$almostBlack: rgb(10, 10, 10);
$vanDyke: rgb(56, 48, 46);
.searchFood {
    font-family: Helvetica, sans-serif;
    background-color: lighten($almostBlack, 6%);
    border: 2px solid lighten($almostBlack, 24%);
    border-radius: 19px;
    
    height: 42px;
    flex-grow: 1;
    color: white;
    //margin: 8px;
    width: 170px;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: box-shadow 0.08s ease-out;
    input {
        flex-grow: 1;
        border: none;
        width: calc(100% - 30px);
        background-color: transparent;
        height: 100%;
        border-top-left-radius: 19px;
        border-bottom-left-radius: 19px;
        &:focus-visible {
            outline: none;
        }
        padding-left: 10px;
        padding-right: 1.5px;
        color: white;
    }

    button {
        width: 32px;
        padding: 0;
        
        height: 100%;
        padding: none;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        outline: none;
        border: none;
        background-color: lighten($almostBlack, 24%);
        display: grid;
        place-items: center;
        svg{
            filter: invert(100%);
            width: 20px;
            height: 20px;
            margin-right: -1px;
            
        }
        .clipLoader{
            margin-right: -2px;
            
        }
    }
}